trigger:
 -main

pool: AgentPool



stages:
  - stage: Install_Node_Tool
    jobs:
      - job: Node_Tool_Job
        displayName: Install Node Tool

        steps:
        - task: NodeTool@0
          inputs:
            versionSource: 'spec'
            versionSpec: '18.x'

        - task: Npm@1
          displayName: Install Dependencies
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)ReactTodoUIMonolith'
          