trigger:
 - main

pool: AgentPool



stages:
  - stage: Install_Node_Tool
    jobs:
      - job: Node_Tool_Job
        displayName: Install Node Tool

        steps:
        - task: NodeTool@0
          inputs:
            versionSource: 'spec'
            versionSpec: '18.x'

        - task: Npm@1
          displayName: Install Dependencies
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)\ReactTodoUIMonolith'

  - stage: Sonar_Qube
    dependsOn: Install_Node_Tool
    jobs:
      - job: Sonar_Qube_Job
        displayName: Sonar Qube 
        steps:
        
        - script: |
            npm test -- --coverage --watchAll=false
          workingDirectory: $(System.DefaultWorkingDirectory)/ReactTodoUIMonolith
          displayName: Run React Tests with Coverage


        - task: SonarQubePrepare@8
          displayName: Sonar Qube Prepare
          inputs:
            SonarQube: 'SonarQubeServer'
            scannerMode: 'cli'
            configMode: 'manual'
            cliProjectKey: 'react-app'
            cliProjectName: 'React App'
            cliSources: '$(System.DefaultWorkingDirectory)\ReactTodoUIMonolith\src'
            extraProperties: |
              sonar.sourceEncoding=UTF-8
              sonar.exclusions=**/node_modules/**,**/build/**
              sonar.tests=src
              sonar.test.inclusions=**/*.test.js,**/*.test.jsx
              sonar.javascript.lcov.reportPaths=coverage/lcov.info

        - task: SonarQubeAnalyze@8
          displayName: Run Analysis
          inputs:
            jdkversion: 'JAVA_HOME_21_X64'

        - task: SonarQubePublish@8
          displayName: Publish
          inputs:
            pollingTimeoutSec: '300'
          
          