name: Deploy Backend to VM

on:
  workflow_run:
    workflows: ["Build and Push Docker Image to ACR"]
    types:
      - completed

env:
  ACR_NAME: ${{ secrets.ACR_NAME }}
  ACR_USERNAME: ${{ secrets.ACR_USERNAME }}
  ACR_PASSWORD: ${{ secrets.ACR_PASSWORD }}
  RG: ${{ secrets.RG_NAME }}
  BACKEND_VM: ${{ secrets.BACKEND_VM }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Install Docker on VM
        run: |
          az vm run-command invoke \
            --command-id RunShellScript \
            --resource-group $RG \
            --name $BACKEND_VM \
            --scripts "
              curl -fsSL https://get.docker.com -o get-docker.sh
              sudo sh get-docker.sh
              sudo usermod -aG docker azureuser
              sudo systemctl enable docker
              sudo systemctl start docker
               "

      - name: Deploy Backend to VM
        run: |
          az vm run-command invoke \
           --command-id RunShellScript \
           --resource-group $RG \
           --name $BACKEND_VM \
           --scripts "
           sudo docker stop backend || true
           sudo docker rm backend || true

            echo $ACR_PASSWORD | sudo docker login $ACR_NAME.azurecr.io \
               -u $ACR_USERNAME --password-stdin

           sudo docker pull $ACR_NAME.azurecr.io/backend:v1
           sudo docker run -d --name backend -p 8000:8000 $ACR_NAME.azurecr.io/backend:v1
           "
