name: Deploy Backend to VM

on:
    workflow_run:
        workflows: ["Build and Push Docker Image to ACR"]
        types:
            - completed

env:
    ACR_NAME: ${{ secrets.ACR_NAME }}
    RG: ${{ secrets.RG_NAME }}
    BACKEND_VM: ${{ secrets.BACKEND_VM }}

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Login to Azure
              uses: azure/login@v1
              with:
                  creds: ${{ secrets.AZURE_CREDENTIALS }}

            - name: Install Docker on VM
              run: |
                  az vm run-command invoke \
                     --command-id RunShellScript \
                     --resource-group $RG \
                     --name $FRONTEND_VM \
                     --scripts "sudo apt-get update -y && sudo apt-get install -y docker.io"

            - name: Deploy Backend to VM
              run: |
                  az vm run-command invoke \
                   --command-id RunShellScript \
                   --resource-group $RG \
                   --name $BACKEND_VM \
                   --scripts "
                   sudo docker stop backend || true
                   sudo docker rm backend || true

                    az acr login --name $ACR_NAME

                   sudo docker pull $ACR_NAME.azurecr.io/backend:v1
                   sudo docker run -d --name backend -p 8000:8000 $ACR_NAME.azurecr.io/backend:v1
                   "
