name: Build and Push Docker Image to ACR

on:
  push:
    branches:
       - main

env:
    ACR_NAME: ${{ secrets.ACR_NAME }}
    SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
    EMAIL_TO: ${{ secrets.EMAIL_TO }}

jobs:
   build: 
      runs-on: ubuntu-latest

      steps:
        - name: Checkout Code
          uses: actions/checkout@v3

#-----------------Backend Sast--------------------#
        - name: Install Python and Bandit
          run: |
            pip -m pip install --upgrade pip
            pip install bandit
          
        - name: Run Backend SAST
          run: python security/sast.py

        - name: Upload Bandit Report
          uses: actions/upload-artifact@v3
          with:
            name: bandit-report
            path: bandit-report.json

#----------------Frontend SAST----------------------#
        
        - name: Run Frontend SAST(Semgrep)
          run: |
            chmod +x security/sast_semgrep.sh
            ./security/sast_semgrep.sh

        - name: Upload Semgrep Report
          uses: actions/upload-artifact@v3
          with:
            name: frontend-semgrep-report
            path: frontend-semgrep-report.json

  #------------------Build & Push Docker-----------------#

        - name: Login to Azure
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}
        
        - name: Login to ACR
          run: az acr login --name $ACR_NAME
        
        - name: Build and Push Frontend Image
          run: |
            cd ReactTodoUIMonolith
            docker build -t $ACR_NAME.azurecr.io/react:v1 .
            docker push $ACR_NAME.azurecr.io/react:v1
        
        - name: Build and Push Backend Image
          run: |
            cd PyTodoBackendMonolith
            docker build -t $ACR_NAME.azurecr.io/backend:v1 .
            docker push $ACR_NAME.azurecr.io/backend:v1

  #----------------Notify on failure--------------------------#

        # - name: Slack Notification on Failure
        #   if: failure()
        #   uses: 8398a7/action-slack@v3
        #   with:
        #      status: failure
        #      fields: repo,message,commit,author
        #      webhook_url: ${{ secrets.SLACK_WEBHOOK }}

        # - name: Email Notification on Failure
        #   if: failure()
        #   uses: dawidd6/action-send-mail@v3
        #   with:
        #      server_address: smtp.gmail.com
        #      server_port: 465
        #      username: ${{ secrets.EMAIL_USER }}
        #      password: ${{ secrets.EMAIL_PASS }}
        #      subject: "Build / SAST Failed"
        #      to: ${{ secrets.EMAIL_TO }}
        #      body: "Please check the GitHub Actions logs. Build or SAST failed."
        #      secure: true
