name: Build and Push Docker Image to ACR

on:
  push:
    branches:
       - main

env:
    ACR_NAME: ${{ secrets.ACR_NAME }}

jobs:
   build: 
      runs-on: ubuntu-latest

      steps:
        - name: Checkout Code
          uses: actions/checkout@v3

        - name: Login to Azure
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}
        
        - name: Login to ACR
          run: az acr login --name $ACR_NAME
        
        - name: Build and Push Frontend Image
          run: |
            cd ReactTodoUIMonolith
            docker build -t $ACR_NAME.azurecr.io/react:v1 .
        
        - name: Build and Push Backend Image
          run: |
            cd PyTodoBackendMonolith
            docker build -t $ACR_NAME.azurecr.io/backend:v1 .

