name: Deploy Frontend to VM

on:
  workflow_run:
    workflows: ["Build and Push Docker Image to ACR"]
    types:
      - completed

env:
  ACR_NAME: ${{ secrets.ACR_NAME }}
  ACR_USERNAME: ${{ secrets.ACR_USERNAME }}
  ACR_PASSWORD: ${{ secrets.ACR_PASSWORD }}
  RG: ${{ secrets.RG_NAME }}
  FRONTEND_VM: ${{ secrets.FRONTEND_VM }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Install Docker on VM
        run: |
          az vm run-command invoke \
           --command-id RunShellScript \
           --resource-group $RG \
           --name $FRONTEND_VM \
           --scripts "
             sudo apt-get update -y

             sudo apt-get install -y \
             ca-certificates \
             curl \
             gnupg

             sudo install -m 0755 -d /etc/apt/keyrings

             curl -fsSL https://download.docker.com/linux/ubuntu/gpg | \
             sudo gpg --yes --dearmor -o /etc/apt/keyrings/docker.gpg

             echo \
              \"deb [arch=\$(dpkg --print-architecture) \
              signed-by=/etc/apt/keyrings/docker.gpg] \
              https://download.docker.com/linux/ubuntu \
              \$(lsb_release -cs) stable\" | \
              sudo tee /etc/apt/sources.list.d/docker.list > /dev/null

             sudo apt-get update -y
             sudo apt-get install -y docker-ce docker-ce-cli containerd.io

             sudo usermod -aG docker azureuser
             sudo systemctl enable docker
             sudo systemctl start docker
             "

      - name: Deploy Frontend to VM
        run: |
          az vm run-command invoke \
           --command-id RunShellScript \
           --resource-group $RG \
           --name $FRONTEND_VM \
           --scripts "
           sudo docker stop frontend || true
           sudo docker rm frontend || true

           echo $ACR_PASSWORD | sudo docker login $ACR_NAME.azurecr.io \
               -u $ACR_USERNAME --password-stdin

           sudo docker pull $ACR_NAME.azurecr.io/react:v1
           sudo docker run -d --name frontend -p 80:80 $ACR_NAME.azurecr.io/react:v1
           "
   #-------------------RUN Dast-----------

      - name: RUN DAST Scan (OWASP ZAP)
        run: |
          docker run -t owasp/zap2docker-stable zap-baseline.py \
            -t $APP_URL \
            -r dast-report.html

       # ------------------ Upload DAST Report ------------------
      - name: Upload DAST Report
        uses: actions/upload-artifact@v3
        with:
          name: dast-report
          path: dast-report.html

      # # ------------------ Slack Notification on Failure ------------------
      # - name: Slack Notification on Failure
      #   if: failure()
      #   uses: 8398a7/action-slack@v3
      #   with:
      #     status: failure
      #     fields: repo,message,commit,author
      #     webhook_url: ${{ secrets.SLACK_WEBHOOK }}

      # # ------------------ Email Notification on Failure ------------------
      # - name: Email Notification on Failure
      #   if: failure()
      #   uses: dawidd6/action-send-mail@v3
      #   with:
      #     server_address: smtp.gmail.com
      #     server_port: 465
      #     username: ${{ secrets.EMAIL_USER }}
      #     password: ${{ secrets.EMAIL_PASS }}
      #     subject: "Deploy / DAST Failed"
      #     to: ${{ secrets.EMAIL_TO }}
      #     body: "Please check the GitHub Actions logs. Deployment or DAST scan failed."
      #     secure: true